*{
    padding: 0px;
    margin:0px;
} 

 /*---------Estos son las clases del menu-----------*/

.menu{

    background: rgb(255, 255, 255)
    width: 100%;
    border: 1px solid rgb(27, 11, 245)
    padding: 70px; 
}


.imagen1{
    width: 20%;
    margin-left: 30px;
    padding-top: 5px;
    padding: 15px;
}

/*------------------Botones---------------------*/

nav{
    overflow: hidden;
    display: inline-block;
    float: right;
    margin-right: 50px;
    margin-top: 5px;    
}

nav ul li{
 display: inline-block;
 margin: 20px;
 
}

nav ul li a{
    text-decoration:none;
    color: #000;
    border-bottom-color:1px solid #000;
    font-family: comic sans ms;
    font-weight: bold;
    font-style: italic;
}

nav ul li a:hover{
    border-top: #000;
}

.pro{
    border: 1px solid rgb(84, 18, 238);
    color:white;
    background: rgb(35, 72, 143);
    margin:5px;
    padding: 5px;
    border-radius: 3px;
}
#campana{
    color: black;
    font-size: 20px;
}
#login{

    margin-left: 40px;
   font-size: 40px;
   margin-top: 10px;
   color:rgb(22, 160, 179);
}

/*------------Boton Challenge-------------------*/
.challenge{

    padding-left: 50px;
    border: 1px solid rgb(191, 199, 199);  
}

.boton1{
    width: 150px;
    height: 40px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(197, 207, 207); 
    font-style: italic; 
    font-family: comic sans ms;
    font-weight: bold;
}

/*-----------------articulos------------------*/
.container{
    display:grid;
    grid-template-columns: 50% 50%;
}

/*----------------Cuadro 1-------------------*/
.container .cuadro1{
    background: rgb(255, 254, 254);  
}

.dibujo{
    height: 90%;
    width: 100%;
}

/*------------------Cuadro 2-----------------*/
.container .cuadro2{
    padding: 1em;
}

.botones ul li{
    display: inline-block;
    padding: 5px;
}

.free{
    color:rgb(41, 79, 161);
    border-radius: 17px;
    border: 1px solid rgb(228, 225, 225);
    background: rgb(233, 230, 230) ;
    font-style: italic; 
    font-family: comic sans ms;
    font-weight: bold;
}

.html{
    color: rgb(41, 152, 185);
    font-style: italic; 
    font-family: comic sans ms;
    font-weight: bold;
}

.css{
    color:rgb(41, 79, 161);
    font-style: italic; 
    font-family: comic sans ms;
    font-weight: bold;
}

.aislado{
    display: inline-block;
    float: right;
    font-style: italic; 
    font-family: comic sans ms;
    font-weight: bold;
    color: rgb(22, 160, 179);
    border: 1px solid rgb(70, 233, 255);
    width: -9px;
}
.numero{
    background:rgb(22, 160, 179) ;
    color: blanchedalmond;
    font-weight: bold;
    margin:-5px;
    padding: 4px;
}

.linea1{
    margin-left: 30px;
}

.lista{
    background: rgb(232, 239, 241);
    height: 270px;
}

.asse{
    margin-left: 15px;
    padding: 30px;
    font-size: 15px;
}

.items{
     margin-left: 40px;
     color:rgb(54, 53, 53)
}
#times{
    padding: 0px 10px;
    color:rgb(230, 17, 45);
}
#check{
    padding: 0px 10px;
    color:rgb(42, 214, 122)
}
#info{
    margin-left: -55px;
    padding: 0px 10px;
    color: rgb(78, 78, 211);
    font-size: 20px;
   
}
.linea{
    margin-left: 50px;
    color: rgb(123, 129, 129);
}

/*----------------------Botones 2----------------------*/
.uno{
    width: 30%;
    font-family: comic sans ms;
    font-weight: bold;
    color: rgb(255, 251, 251);
    background: rgb(41, 79, 161);
    height: 30px;
    border-radius: 17px;
}

.uno:hover{
    border: rgb(3, 3, 5) ;
}

.dos{
    width: 30%;
    font-family: comic sans ms;
    font-weight: bold;
    color: rgb(129, 154, 155);
    background: rgb(207, 220, 221);
    height: 30px;
    border-radius: 17px;
}

.dos:hover{
    border:rgb(97, 94, 94);
}

.tres{
    width: 30%;
    font-family: comic sans ms;
    font-weight: bold;
    color: rgb(255, 251, 251);
    background: rgb(41, 79, 161);
    height: 40px;
    border-radius: 17px;
}

.tres:hover{
    border: rgb(3, 3, 5) ;
}

/*-----------------------Challenge----------------------*/
.cambio{
 margin-top: 30px;
 height: 70px;
 margin-left: 47%;
 font-family: comic sans ms;
}

/*-------------------------Listas-----------------------*/
.contenedor2{
    display:grid;
    grid-template-columns: 50% 50%;
}

/*----------------------Cuadro3-------------------------*/
.cuadro3{
    width: 100%;
    height: 500px;
}

.titulo1{
    margin-left: 70px;
}

.lista1{
    margin-top: 20px;
    margin-left: 60px;
    padding: 10px;
    height: 70%;
    color: rgb(54, 53, 53);
}

.fila{
    margin-left: 60px;
}

/*----------------------Cuadro4-------------------------*/
.cuadro4{
    width: 100%;
    height: 500px;
}
.titulo2{
    margin-left: 20px;
}

.lista2{
    margin-top: -10px;
    padding: 30px;
    height: 50%;
    color:rgb(54, 53, 53)
    
}
.ideas{
    color: #000;
    font-weight: bold;
}
/*-----------------boton ultimo-------------------------*/
.cuatro{
    width: 20%;
    font-family: comic sans ms;
    font-weight: bold;
    color: rgb(255, 251, 251);
    background: rgb(41, 79, 161);
    height: 40px;
    border-radius: 17px;
}
.cuatro:hover{
    border: rgb(3, 3, 5) ;
}

/*-----------------------Cajas----------------------*/
.cajitas{

    padding: 0px 10px;
}
.caja1{
    width: 40%;
    margin-left: 30%;
    display: inline-block;
    padding: 20px 30px;
    border: 2px solid rgb(223, 233, 236);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
   
}
.caja1:hover{
    border:2px dotted rgb(11, 173, 194);
    transition: 0.2s;
    
}
#plus{
    margin-top: -15px;
    float: right;
    font-size: 15px;
}
#plus2{
    margin-top: -20px;
    float: right;
    font-size: 15px;
}
            /*-----------------azul-------------------*/
.azul{
    display:grid;
    grid-template-columns: 100%;
    text-align: center;
    background: rgb(49, 70, 185);
    color: #fff;
    border-radius: 15px;
    width: 90%;
    height: 500px;
    margin-left: 6%;
}
.join1{
    font-size: 15px;
    margin-top: 200px;
    font-weight: bold;
}
.join2{
    font-size: 20px;
    padding: 0px 20%;
    margin-top: -25px;
    font-weight: bold;
}
.email{
   width: 25%;
   height: 30px;
   margin-left: 32%;
   margin-top: -49px;
   border: 2px solid rgb(255, 255, 255);
   background: rgb(49, 70, 185);
}
.invite{
    width: 15%;
    height: 38px;
    margin-left: 59%;
    margin-top: -119px;
    border:1px solid rgb(244, 243, 248);
    border-radius: 15px;
    color:rgb(72, 63, 209);
    font-weight: bold;
    font-size: 14px;
}
.invite:hover{
    border: 2px solid rgb(156, 148, 148);
    font-size: 15px;
    transition: .2s;
}